<div>
  <div class="col-md-12 arabic justify-content-center">
    <div class="arabic">
      <h3 style="color: blue;">تعديل اسلوب المعيشة</h3>
      <form>
        <div class="row arabic justify-content-center mt-4">
          <label for="text" class="col-4 col-form-label">الدواء</label>

          <div class="col-8 arabic">
            <select
              matNativeControl
              required
              class="col-10 col-form-label custom-select"
              id="type"
              name="type"
              required="required"
              (change)="changetype($event)"
            >
              <option
                class="option1"
                value="0"
                [selected]="this.patient.life_style == 0"
                >نشيط
              </option>
              <option
                class="option1"
                value="1"
                [selected]="this.patient.life_style == 1"
                >معتدل
              </option>
              <option
                class="option1"
                value="2"
                [selected]="this.patient.life_style == 2"
              >
                هادى</option
              >
            </select>
          </div>
        </div>
      </form>
      <div mat-dialog-actions>
        <button
          name="submit"
          class="btn btn-success"
          id="Addbtn"
          (click)="Add()"
          [mat-dialog-close]=""
        >
          اضافة
        </button>
      </div>
    </div>
  </div>
</div>
