<!-- <h1>عشوائي</h1> -->
<section class="section section-med"></section>
<div class="row justify-content-center trans">
    <div class="col-md-12 col-12 col-lg-6 col-sm-12 ">
      <div class="card" style="background:white;">
    
    <h1 class="card-header text-center font-weight-bold text-uppercase py-4" style="color:black;background-color: #A4D3E7;">
    عشوائي 
    </h1>
       
<div class="divChart">
    <canvas id="myChart" style="background-color: white;">{{chart}}</canvas>
</div>
<!-- <h1>صائم</h1> -->
<h1 class="card-header text-center font-weight-bold text-uppercase py-4" style="color:black;background-color: #A4D3E7;">
    صائم
</h1>
<div class="divChart">
    <canvas id="myChart2" style="background-color: white;">{{chart2}}</canvas>
</div>
<!-- <h1>A1C</h1> -->
<h1 class="card-header text-center font-weight-bold text-uppercase py-4" style="color:black;background-color: #A4D3E7;">
    A1C
</h1>
<div class="divChart">
    <canvas id="myChart3" style="background-color: white;">{{chart3}}</canvas>
</div>

</div></div></div>
