<!-- Editable table -->
<section class="section section-lg" style="height: 4rem;"></section>

<div mat-dialog-content class="row justify-content-center trans">
  <div class="col-md-12 col-12 col-lg-12 col-sm-12 arabic">
    <div class="card shadow-lg">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        الفحوصات
      </h3>
      <div class="card-body row">
        <div id="table" class="table-editable btext col-12">
          <table
            class="table table-bordered table-responsive-md table-striped text-center col-12"
          >
            <thead>
              <tr class="row ml-1 mr-1">
                <th class="text-center col">نوع الفحص</th>
                <th class="text-center col-3 col-sm-2">تفاصيل</th>
                <th class="text-center col">تاريخ الفحص</th>
                <th class="text-center col">نتيجة الفحص</th>
                <th class="text-center col">حالة الفحص</th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr class="row ml-1 mr-1" *ngFor="let x of model">
                  <td class="pt-3-half col">
                    {{ x.checkupTypeName }}
                  </td>
                  <td class="pt-3-half col-3 col-sm-2">
                    {{ x.notes }}
                  </td>
                  <td class="pt-3-half col">{{ x.date | date }}</td>
                  <td class="pt-3-half col">
                    {{ x.resultData }}
                  </td>
                  <td class="pt-3-half col">
                    {{ x.statusName }}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
