<!-- <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> -->

<!-- <div *ngIf="patient || doctor" class="wrapper" #sidenav>
  <div class="sidebar navbar-expand-md fixed-right text-center" >
    <h2>Sidebar</h2>
    <ul>
      
      <li> </li>
      <li><a href="timeline">الصفحة الرئيسية</a></li>
      <li><a href="myprofile">صفحتي الشخصية</a></li>
      <li>
        <a *ngIf="patient" href="p">بياناتي </a>
        <a *ngIf="doctor" href="d">بياناتي </a>
      </li>
      <li *ngIf="patient"><a href="checkups">المتابعات</a></li>
      <li *ngIf="patient"><a (click)="addtest()">التحاليل</a></li>
      <li><a href="#">عن الموقع</a></li> -->


      <!-- <li>
        <a class="nav-link"
          [routerLink]="['/login']"
          *ngIf="acc.loggedin()"
          (click)="acc.logout()">
          خروج
        </a>
      </li> -->


    <!-- </ul>
  </div>
</div> -->
